.button {
    background-color: #00ccff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    border: 2px solid black;
}
.button:hover {
    background-color: #00ccff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 0.2;
       border-radius: 50%;
   }
   .button:active{
      background-color: #00ccff;
      padding-top: 12px;
}
.spin:active {
        -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
}

